<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
<extension
          point="org.polarsys.kitalpha.ad.viewpoint.dsl.generation.core.ExtensionLauncher">
      <launcher
            category="Aspect"
            description="This generation enables to generate Capella user interfaces "
            fcore="platform:/plugin/org.polarsys.capella.ad.viewpoint.dsl.generation.ui/egf/vpUIGenerator.fcore#_kjswEehsEeGiXatuhJfhzw"
            name="Capella UI generation">
      </launcher>
      <filter
            TargetApplication="CDO for Capella"
            java="org.polarsys.capella.cdo.ta.ext.UIAspectFilter">
      </filter>
    </extension>
</plugin>
