<?xml version="1.0" encoding="UTF-8"?>
<!--
  Copyright (c) 2006, 2020 THALES GLOBAL SERVICES.
  This program and the accompanying materials are made available under the
  terms of the Eclipse Public License 2.0 which is available at
  http://www.eclipse.org/legal/epl-2.0

  SPDX-License-Identifier: EPL-2.0
 
  Contributors:
     Thales - initial API and implementation
-->
<?eclipse version="3.4"?>
<plugin>
	<extension
         point="org.polarsys.kitalpha.ad.viewpoint.dsl.cs.text.common.externaldataloader">
      <ExternalDataLoader
            id="org.polarsys.capella.metamodels"
            target="Capella">
         <NamespacePattern
               id="Capella"
               value="http://www.polarsys.org/capella/.*"></NamespacePattern>
      </ExternalDataLoader>
   </extension>
   
   <extension
         point="org.polarsys.kitalpha.ad.viewpoint.dsl.as.diagram.helper.diagramfilter">
      <Filter
            ModelFileExtension="capella"
            TargetApplication="Capella">
      </Filter>
   </extension>
   <extension
         point="org.polarsys.kitalpha.ad.viewpoint.dsl.as.diagram.expression.helper.diagramExpressionLanguage">
      <expression
            TargetApplication="Capella"
            language="AQL">
      </expression>
   </extension>
   
   <extension
         point="org.polarsys.capella.ad.viewpoint.dsl.generation.ui.UIPropertiesContributors">
      <propertiesContributors
            targetApplication="Capella">
         <Contributor
               baseTabName="BaseSiriusDiagram"
               id="org.eclipse.sirius.diagram.ui"
               name="Sirius diagram contribution"
               propertyTabCategory="semantic &amp; extension">
         </Contributor>
         <Contributor
               baseTabName="BaseCapella"
               id="org.polarsys.capella.core.data.capellamodeller.properties"
               name="Capella Treeview Contribution"
               propertyTabCategory="default">
         </Contributor>
      </propertiesContributors>
   </extension>
</plugin>
