<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<!--
  Copyright (c) 2014-2019 Thales Global Services S.A.S.
  This program and the accompanying materials are made
  available under the terms of the Eclipse Public License 2.0
  which is available at https://www.eclipse.org/legal/epl-2.0/
  
  SPDX-License-Identifier: EPL-2.0
  
   Contributors:
  Thales Global Services S.A.S - initial API and implementation
-->
<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.eclipse.org/emf/diffmerge/bridge/apa/1.0.0"
            class="org.polarsys.capella.diffmerge.bridge.examples.apa.ApaPackage"
            genModel="model/Apa.genmodel"/>
   </extension>

</plugin>
