<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

 	<extension point="org.eclipse.egf.portfolio.genchain.elements">
    	<helper id="capella.emf.generation" class="org.polarsys.capella.extension.genchain.CapellaGenerationExtension"/>
    </extension>
  <extension
        point="org.eclipse.egf.core.fcore">
     <fcore
           id="egf/capellaExtension.fcore">
     </fcore>
  </extension>


</plugin>
